{% extends 'main/layout.html' %}

{% block title %}О проекте | Stalcraft Wiki{% endblock %}

{% block content %}
    <div class="gl">
        <h1>О проекте</h1>
        <p>Stalcraft Wiki - это неофициальный фанатский проект, посвященный игре Stalcraft. Здесь собраны советы, истории и маршруты лутания артефактов.</p>
        
        <div class="features">
            <h2>Что вы найдёте на нашем сайте:</h2>
            <ul class="feature-list">
                <li>📌 Подробные советы по выживанию в Зоне</li>
                <li>📖 Уникальные истории от опытных сталкеров</li>
                <li>🗺️ Проверенные маршруты лутания артефактов</li>
                <li>⚔️ Гайды по PvP и фракциям</li>
                <li>🔧 Актуальные сборки артефактов</li>
            </ul>
        </div>
        
        <div class="about-team">
            <h2>Наша команда</h2>
            <p>Проект разрабатывается энтузиастами-фанатами игры. Основной вклад внесли:</p>
            <ul class="team-list">
                <li><strong>Ziv</strong> - основатель проекта</li>
                <li><strong>Мудрец</strong> - автор маршрутов</li>
                <li><strong>Ветеран</strong> - PvP эксперт</li>
            </ul>
        </div>
    </div>
{% endblock %}